<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80545591955-ib1k38jadnl6rfqqdpgjih37ksnrccut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80545591955-ib1k38jadnl6rfqqdpgjih37ksnrccut</string>
	<key>API_KEY</key>
	<string>AIzaSyAfe2VK_YWr8bOKLkggPyEG4dr1sXLEdK8</string>
	<key>GCM_SENDER_ID</key>
	<string>80545591955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fitup.FitUpiOSApp</string>
	<key>PROJECT_ID</key>
	<string>fitup-66829</string>
	<key>STORAGE_BUCKET</key>
	<string>fitup-66829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80545591955:ios:ae277b3d07e62136069366</string>
</dict>
</plist>